<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/petFragment :: html_head">
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/petFragment :: searchMenu"></div>

<div class="container-fluid" style="text-align: center; margin-top: 200px; color: crimson">
    <h4 >Sahip Bulunamadı. Lütfen Sahip Ekleyiniz!</h4>
    <a th:href="@{/pet/petlistpage}" class="btn btn-primary" style="background-color: lightseagreen">Geri</a>
</div>
<br><br>
<div th:replace="fragments/petFragment :: footer" ></div>
</body>
</html>