<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <title>VetClinicApp</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        &nbsp;
        <img src="/images/icon.png" width="55" height="85"  alt="">
        <a class="nav-link" th:href="@{/}"
           style="font-family: 'Comic Sans MS'; color: crimson; font-size:x-large">Vet Clinic<span class="sr-only"></span></a>&emsp;&emsp;
        &nbsp;
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Ana Sayfa <span class="sr-only"></span></a>
                </li>
                &emsp;&emsp;
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/pet/petlistpage}">Hayvan Listesi</a>
                </li>
                &emsp;&emsp;
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/owner/ownerlistpage}">Sahip Listesi </a>
                </li>
                &emsp;&emsp;
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/aboutus}">Hakkımızda</a>
                </li>
                &emsp;&emsp;
                <li class="nav-item active" style="margin-left: 700px">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-danger" value="Çıkış" />
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</div>
<footer class="footer" th:fragment="footer">
    <div class="text-center">
        <p>Vet Clinic App Control Panel - Copyright &copy; Ekin Gülsüm Akın</p>
    </div>
</footer>
</body>
</html>