<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/mainFragment :: html_head">
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>

    <div th:replace="fragments/mainFragment :: menu"></div>
    <div class="container" align="center" >
        <h1>Sorry, You don't have permission to acces this page</h1>
    </div>

<div th:replace="fragments/mainFragment::footer"></div>
</body>
</html>