<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale">
  <title>Login</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container-fluid text-center" >
  <div>
    <img th:src="@{/images/icon.png}" th:width="110" th:height="170"/>
    <h3 style="font-family: 'Comic Sans MS'; color: crimson;">Vet Clinic CRM</h3>
  </div>
  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
    <hr>
    <p>Giriş Yap</p>
    <div class="border border-secondary p-3 rounded">
      <p>Access to Control Panel</p>
      <p>
        <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
      </p>
      <p>
        <input type="password" name="password" class="form-control" placeholder="Parola" required autofocus>
      </p>
      <p>
        <input type="submit" value="Giriş" class="btn btn-primary">
      </p>
    </div>
  </form>
</div>
</body>
</html>