<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="ownerFragment :: html_head">
    <meta charset="UTF-8">
    <title>Evcil Hayvan Sahibi Ekle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="ownerFragment :: searchMenu"></div>
<br><br>
<h3 style="text-align: center; padding-top: 12px; padding-bottom: 3px">Hayvan Sahibi Bilgileri</h3>
<div class="container">
    <div>
        <table class="table table-hover table-dark">
            <thead>
            <tr class="table-active">
                <th scope="col">id</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Telefon</th>
                <th scope="col">mail</th>
                <th scope="col">Adres</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="owner : ${owner}">
                <td th:text="${owner.id}"></td>
                <td th:text="${owner.name}"></td>
                <td th:text="${owner.surname}"></td>
                <td th:text="${owner.phone}"></td>
                <td th:text="${owner.email}"></td>
                <td th:text="${owner.address}"></td>


            <tr>
            </tbody>
        </table>
    </div>
</div>


<br><br>
<h3 style="text-align: center; padding-top: 12px; padding-bottom: 3px">Sahip Olunan Evcil Hayvan Bigileri</h3>
<br>
<div class="container">
    <div><input type="hidden" th:field="*{id}" th:value="${owner.id}"></div>
    <div>
        <table class="table table-hover table-dark">
            <thead>
            <tr class="table-active">
                <th scope="col">id</th>
                <th scope="col">Ad</th>
                <th scope="col">Cins</th>
                <th scope="col">Tür</th>
                <th scope="col">Cinsiyet</th>
                <th scope="col">Yaş</th>
                <th scope="col">Sağlık Durumu</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="pet : ${listOfPets}">
                <td th:text="${pet.id}"></td>
                <td th:text="${pet.name}"></td>
                <td th:text="${pet.species}"></td>
                <td th:text="${pet.breed}"></td>
                <td th:text="${pet.gender}"></td>
                <td th:text="${pet.age}"></td>
                <td th:text="${pet.statement}"></td>
            <tr>
            </tbody>
        </table>
    </div>
    <br>
    <a th:href="@{/owner/ownerlistpage}" class="btn btn-primary" style="padding-right: 20px; padding-left: 20px">Geri</a>
</div>


<br><hr><br>
<div th:replace="ownerFragment :: footer"></div>
</body>
</html>